@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #F3DFC6;
}
canvas {
  display: block;
  margin: auto;
}

#button-holder{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  justify-content: center;
}

h1{
  margin: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7F6038;
}

p{
  margin: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Afacad Flux", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#453D33;
}